.app {
  padding: 2em 0;

  height: 100%;
}

.container {
  margin: 0 auto;
  width: 80%;
  min-width: 700px;
}

h1 {
  color: #fff;
  font-size: 3em;
}

.filters {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0 2em 2em 0;
}

.filters > * {
  margin-right: 2em;
}

@media only screen and (max-width: 1350px) {
  .container {
    width: 90%;
  }
}
